.chapters-page-container {
    margin: 30px;
}

.chapters-page-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.chapters-list-container {
    max-width: 800px;
    margin: 0 auto;
}

button {
    margin-left: 10px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-body {
    font-size: 16px;
}