.dark-mode-toggle {
    position: fixed;
    bottom: 80px;
    right: 20px; 
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

.dark-mode-toggle:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.dark-mode-toggle.hidden {
    transform: translateY(100px);
    opacity: 0;
    pointer-events: none;
}

.dark-mode-toggle.visible {
    transform: translateY(0);
    opacity: 1;
}

.dark-mode {
    background-color: #121212;
    color: #f1e4d1; /* Beige suave */
}
