/* EditorsPage.css */

.editors-page-container {
    background: linear-gradient(180deg, #D3D0E1, #16213e);
    padding: 50px 0;
    color: #fff;
    min-height: 100vh;
  }
  
  .editors-header {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
  }
  
  .decorative-header-image {
    width: 200px;
    height: auto;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .editors-title {
    font-size: 2.5rem;
    color: #5F7D8B;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .editors-subtitle {
    font-size: 1.2rem;
    color: #5A3D42;
  }
  
  .editor-card {
    background: #D3D0E1;
    border: 2px solid #D6B4A1; /* Verde esmeralda */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .editor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px hsla(22, 39%, 74%, 0.5);
  }
  
  .editor-profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    object-fit: cover;
    border: 3px solid #8C6A4B;
    box-shadow: 0px 4px 8px #28a74665;
  }
  
  .editor-name {
    font-size: 1.2rem;
    color: #5F7D8B;
    margin: 10px 0;
  }
  
  .editor-roles {
    font-size: 0.9rem;
    color: #b0c4de;
    margin-bottom: 15px;
  }
  
  .editor-profile-button {
    background: #C9D6D5;
    color: #2C3E50;
    border: 2px solid #C1D0B5;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
  }
  
  .editor-profile-button:hover {
    background: #C1D0B5;
    color: #2C3E50;
    transform: scale(1.1);
  }
  
  /* Estilo para la paginación */
  .pagination {
    background-color: transparent;
  }
  
  .pagination .page-link {
    color: #5F7D8B ;
    border: 1px solid #5F7D8B ;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .pagination .page-link:hover {
    background-color: #5F7D8B;
    color: white;
  }
  
  .pagination .active .page-link {
    background-color: #5F7D8B;
    border-color: #5F7D8B;
    color: white;
  }
  
  .pagination .disabled .page-link {
    color: #ccc;
    border-color: #ccc;
  }
  
  /* Estilos adicionales para mensajes de carga y error */
  .loading-text,
  .error-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
  }
  
  .loading-text {
    color: #5F7D8B;
  }
  
  .error-text {
    color: #5F7D8B ;
  }  