.profile-container-fantasy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(180deg, #1a1a2e, #16213e);
  min-height: 100vh;
}

.profile-card-fantasy {
  background: #1e1e2f;
  border: 2px solid #ffd700;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  color: #ffffff;
}

.profile-header-fantasy {
  position: relative;
  margin-bottom: 20px;
}

.decorative-wrapper {
  position: absolute;
  top: -100px; /* Ajusta esta distancia según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.decorative-image {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.profile-photo-fantasy {
  width: 140px; /* Reduce el tamaño si es necesario */
  height: 140px;
  border-radius: 50%;
  border: 4px solid #ffd700;
  object-fit: cover;
  margin-top: 40px; /* Ajusta para separar de la imagen decorativa */
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  position: relative;
  z-index: 1;
}


.profile-info-fantasy h1 {
  font-size: 1.8rem;
  color: #ffd700;
  margin: 10px 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.profile-info-fantasy h2 {
  font-size: 1.2rem;
  color: #b0c4de;
  margin: 5px 0;
}

.profile-info-fantasy p {
  font-size: 1rem;
  color: #dcdcdc;
}

.social-links-new {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-link-icon {
  display: inline-block;
  font-size: 1.5rem;
  color: #ffd700;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-link-icon:hover {
  color: #ffffff;
  transform: scale(1.2);
}

.buttons-fantasy {
  margin-top: 20px;
}

.fantasy-btn {
  background: #16213e;
  color: #ffd700;
  border: 2px solid #ffd700;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.fantasy-btn:hover {
  background: #ffd700;
  color: #16213e;
}

.admin-panel-container {
  margin-top: 20px;
}

.admin-panel-button {
  background: #ffd700;
  color: #16213e;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.admin-panel-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.fantasy-btn-save {
  background: #04aa6d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.fantasy-btn-save:hover {
  background: #038e5a;
  transform: scale(1.1);
}