body {
    background-color: #000;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
  }
  
  .novel-form-container {
    padding: 2rem;
  }
  
  .novel-form-card {
    background: #2C3E50;
    border: 1px solid #E8E2D6 ;
    border-radius: 10px;
    padding: 2rem;
  }
  
  .form-title {
    color: #E8E2D6 ;
    margin-bottom: 1.5rem;
  }
  
  .fantasy-input {
    background: #2C3E50;
    border: 1px solid #E8E2D6;
    color: #E8E2D6;
  }
  
  .fantasy-input:focus {
    outline: none;
    border-color: #2C3E50;
    box-shadow: 0 0 10px #2C3E50;
  }
  
  .fantasy-button {
    background: #C9D6D5 ;
    color: #000;
    border: none;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s ease;
  }
  
  .fantasy-button:hover {
    background: #C9D6D5;
    color: #000;
  }
  
  .preview-container img {
    max-width: 100%;
    margin-top: 1rem;
    border: 2px solid #D6B4A1;
    border-radius: 5px;
  }
  
  .required {
    color: #FF6347;
  }
  
  .modal-success .modal-content {
    background-color: #2C3E50;
    border: 2px solid #D6B4A1 ;
  }
  
  .modal-error .modal-content {
    background-color: #2C3E50;
    border: 2px solid #D6B4A1 ;
  }
  
  .novel-cover-preview {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto;    /* Mantén la proporción de la imagen */
    border: 2px solid #E8E2D6 ; /* Estilo dorado para la previsualización */
    border-radius: 5px;
    display: block; /* Centra la imagen dentro de su contenedor */
    margin: 0 auto;
  }
  
  /* Contenedor de colaboradores */
.collaborator-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.collaborator-input {
  flex: 2;
  margin-right: 10px;
}

.collaborator-select {
  flex: 1;
  margin-right: 10px;
}

.collaborator-remove-btn {
  flex: 0.5;
}

.add-collaborator-btn {
  margin-top: 10px;
}