/* Estilo general */
.postulacion-page {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.postulacion-header {
  background: linear-gradient(45deg, #D6B4A1, #F1E4D1);
  padding: 50px 0;
}

.postulacion-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.icon-title {
  color: #6c757d;
}

.postulacion-subtitle {
  font-size: 1.2rem;
  color: #fff;
}

.postulacion-info {
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
}

.info-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #F1E4D1;
}

.postulacion-steps {
  list-style-type: none;
  padding-left: 0;
}

.postulacion-steps li {
  font-size: 1.1rem;
  color: #B5C9C9;
}

.postulacion-roles {
  display: flex;
  justify-content: space-between;
}

.postulacion-card {
  background-color: #3B3B3B;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.postulacion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.postulacion-icon {
  font-size: 3rem;
  color: #F1E4D1;
  margin-bottom: 15px;
}

.postulacion-btn {
  background-color: #F1E4D1;
  color: #121212;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.postulacion-btn:hover {
  background-color: #D6B4A1;
}

.postulacion-final {
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
}

.postulacion-discord {
  font-size: 1.2rem;
}

.discord-icon {
  font-size: 1.6rem;
  margin-left: 10px;
  color: #7289da;
}

.dark-mode .postulacion-header {
  background: linear-gradient(45deg, #2C2C2C, #3B3B3B); /* Cambio de color en modo oscuro */
}

.dark-mode .postulacion-title,
.dark-mode .postulacion-subtitle {
  color: #fff;
}

.dark-mode .postulacion-info {
  background-color: #2c2c2c; /* Cambio a color más oscuro */
  border-radius: 10px;
}

.dark-mode .postulacion-btn {
  background-color: #3B3B3B;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dark-mode .postulacion-btn:hover {
  background-color: #F1E4D1; /* Color más claro en hover */
  color: #121212;
}

.dark-mode .postulacion-card {
  background-color: #3B3B3B;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.dark-mode .postulacion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.dark-mode .postulacion-icon {
  font-size: 3rem;
  color: #F1E4D1;
  margin-bottom: 15px;
}

.dark-mode .postulacion-discord {
  font-size: 1.2rem;
  color: #fff; /* Texto en blanco en modo oscuro */
}

.dark-mode .discord-icon {
  font-size: 1.6rem;
  margin-left: 10px;
  color: #7289da;
}