/* Estilos para Sidebar */
.sidebar {
    position: fixed;
    top: 10%;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.sidebar .progress {
    margin-bottom: 20px;
}

.sidebar .font-size,
.sidebar .brightness {
    margin-bottom: 15px;
}

.sidebar input[type="range"] {
    width: 100%;
}

.sidebar span {
    margin-left: 10px;
}
