.translators-page-container {
    background: linear-gradient(180deg, #1a1a2e, #16213e);
    padding: 50px 0;
    color: #fff;
    min-height: 100vh;
  }
  
  .translators-header {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
  }
  
  .decorative-header-image {
    width: 200px;
    height: auto;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .translators-title {
    font-size: 2.5rem;
    color: #ffd700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .translators-subtitle {
    font-size: 1.2rem;
    color: #b0c4de;
  }
  
  .translator-card {
    background: #1e1e2f;
    border: 2px solid #ffd700;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .translator-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px rgba(255, 215, 0, 0.7);
  }
  
  .translator-profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    object-fit: cover;
    border: 3px solid #ffd700;
    box-shadow: 0px 4px 8px rgba(255, 215, 0, 0.8);
  }
  
  .translator-name {
    font-size: 1.2rem;
    color: #ffd700;
    margin: 10px 0;
  }
  
  .translator-roles {
    font-size: 0.9rem;
    color: #b0c4de;
    margin-bottom: 15px;
  }
  
  .translator-profile-button {
    background: #16213e;
    color: #ffd700;
    border: 2px solid #ffd700;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
  }
  
  .translator-profile-button:hover {
    background: #ffd700;
    color: #16213e;
    transform: scale(1.1);
  }  

  /* Estilo para la paginación */
.pagination {
  background-color: transparent;
}

.pagination .page-link {
  color: #4caf50; /* Color verde */
  border: 1px solid #4caf50;
  border-radius: 50%;
  margin: 0 5px;
}

.pagination .page-link:hover {
  background-color: #4caf50;
  color: white;
}

.pagination .active .page-link {
  background-color: #4caf50;
  border-color: #4caf50;
  color: white;
}

.pagination .disabled .page-link {
  color: #ccc;
  border-color: #ccc;
}